[Unit]
Description=Render smart-motd into /etc/motd
Documentation=https://github.com/erneywhite/smart-motd

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=idle
Environment=SMART_MOTD_FORCE_COLOR=1
ExecStart=/bin/sh -c '/usr/local/lib/smart-motd/bin/motd-generate >/etc/motd'
